# Landing Page Copy

**Voice:** {{voice_persona}}

{{#items}}
## {{name}}

{{#subject}}
**{{subject}}**

{{/subject}}
{{body}}

{{#rationale}}
> *Why this works:* {{rationale}}
{{/rationale}}

---

{{/items}}
